<!DOCTYPE html >
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <section>
        <header >
            <div class="side">
            </div>
            <div class="head-main">

               <div class="login-container">
                   <div sec:authorize="isAuthenticated()">
                       <p>Welcome, <span sec:authentication="name"></span>!
                           <a id = "logout" class="logout">Logout</a>
                           <input type="hidden" id="_csrf" name="_csrf" th:value="${_csrf.token}"/>
                           <a sec:authorize="hasRole('ADMIN')" href="admin">
                                ADMIN PAGE
                           </a>
                       </p>

                   </div>
                   <div sec:authorize="!isAuthenticated()">
                       <p>
                           <a th:href="@{/login}">
                                   Login
                           </a>
                           <a th:href="@{/signup}">
                                   회원가입
                           </a>
                       </p>
                   </div>
               </div>
                <div class="header-right-side">
                </div>
            </div>
        </header>
        <nav class="head-nav">
            <div class="side">
            </div>
            <div class="nav-title">
                <a href="/index">HOME</a>
            </div>
            <div class="nav-container">
                <div th:each="_menu : ${_menuList}" class="mouse-hover-a" id="report-center" >
                    <span th:text="${_menu.korName}"></span>
                    <div class="nav-container-tag">
                        <div class="side"></div>
                        <div class="nav-container-tag-flex">
                            <div th:each="_menuStep2 : ${_menu.childList}">
                                <div class="nav-container-tag-title">
                                    <p th:text="${_menuStep2.korName}">민원안내</p>
                                </div>
                                <ul class="nav-container-tag-list">
                                    <li th:each="_menuStep3 : ${_menuStep2.childList}" >
                                        <a th:if="${_menuStep3.kind.toLowerCase() == 'board'}" th:href="@{/board(kind = ${_menuStep3.name})}" th:text="${_menuStep3.korName}"></a>

                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="side"></div>
                    </div>
                </div>

            </div>
            <div class="side">
            </div>
        </nav>
    </section>
</body>

<script>
const tag_mouse_hover_a = document.querySelectorAll(".mouse-hover-a");
tag_mouse_hover_a.forEach(element => {
    element.addEventListener("mouseover",()=>{
        const nav_container_tag = element.querySelector(".nav-container-tag")
        nav_container_tag.style.display="block";
    });

    element.addEventListener("mouseout",()=>{
        const nav_container_tag = element.querySelector(".nav-container-tag")
        nav_container_tag.style.display="none";
    });
});




</script>
<script sec:authorize="isAuthenticated()">
    const fn_logout = ()=>{
        const csrf = document.querySelector("#_csrf").value;
        fetch('/logout', {
            method: 'POST',
            headers: {
                'X-CSRF-TOKEN': csrf  // CSRF 토큰을 요청 헤더에 추가
            }
        }).then(response => window.location.reload());
    }
    document.querySelector("#logout").addEventListener("click",fn_logout);
</script>
</html>